<!DOCTYPE html>
<html>
  <head>
    <title>チーム開発 やんばるCODE教材クローン</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="fixed-top base-bg-color">
      <%= render 'layouts/header' %>
    </header>
    <main>
      <%# max_width メソッドは application_helper.rb に記載 %>
      <div class="base-container <%= max_width %>">
        <h2>Rails テキスト教材</h2>
        <div class="container">
          <div class="row">
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Macのショートカットキー</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Linuxコマンド</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Slackを使用したいろんなマークダウン記法</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Ruby on Rails の環境構築（Mac版）</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Ruby on Rails 環境構築手順（Windows版）</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">環境構築（VSCode）</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
          </div>
        </div>
        <%= yield %>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
