<!DOCTYPE html>
<html>
  <head>
    <title>チーム開発 やんばるCODE教材クローン</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="fixed-top base-bg-color">
      <%= render 'layouts/header' %>
    </header>
    <main>
      <%# max_width メソッドは application_helper.rb に記載 %>
      <div class="base-container <%= max_width %>">
        <div class="text-title">
          <h3>Rails テキスト教材</h3>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12 card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Macのショートカットキー</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Linuxコマンド</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Slackを使用したいろんなマークダウン記法</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Ruby on Rails の環境構築（Mac版）</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Ruby on Rails 環境構築手順（Windows版）</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">環境構築（VSCode）</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Atomの便利な使い方</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">超便利なMarkdownの基礎</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">現場でやったらあかんこと</p>
                <p class="card-text">【Basic】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Gitとは</p>
                <p class="card-text">【Git】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Git基本の流れ</p>
                <p class="card-text">【Git】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Vimの使い方</p>
                <p class="card-text">【Git】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Gitコマンド一覧・具体的な対処例</p>
                <p class="card-text">【Git】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">GitとGithubを利用した共同開発</p>
                <p class="card-text">【Git】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">入出力を行うためのメソッド一覧</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">変数</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">条件分岐</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">メソッド</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">配列</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">繰り返し処理</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">ハッシュ</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">オブジェクト指向</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">CSVインポート</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">CSVファイルの生成</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">RSpec</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">八百屋プログラム（条件分岐）part1</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">八百屋プログラム（メソッド）part2</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">八百屋プログラム（クラス）part3</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">YouTube検索を実装するAPI</p>
                <p class="card-text">【Ruby】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Ruby on Rails の基本</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Ruby on Rails で Hellow World!!</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">アプリのデプロイ（Heroku）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">SQLの基礎</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">CRUDの処理の実装</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Active Recordの様々なメソッド</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Active Recordの様々な削除メソッド</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">resources を使ったCRUD処理の実装</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">デバッグツール（binding.pry）の使い方</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">メッセージ投稿アプリ（その1・CRUD処理）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">メッセージ投稿アプリ（その2・エラー処理）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">メッセージ投稿アプリ（その3・Bootstrap）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Rails Best Practice の導入</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Bootstrap の導入</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">CSVデータインポート機能</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Rakeタスク</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">ログイン機能</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">管理者画面</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">オリジナル管理者画面</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">お問い合わせフォーム</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">モデルの関連付け その1（1対多）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">モデルの関連付け その2（多対多）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">検索機能</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">画像投稿機能</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Herokuの画像投稿設定（その1・IAM S3）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Herokuの画像投稿設定（その2・CarrierWave）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">Herokuの画像投稿設定（その3・CloudFront）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">CSVインポート・エクスポート機能</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">テストコードの実装（RSpec）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">RailsアプリへのMarkdownの導入</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">RSpec（準備）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">RSpec（factory_bot_railsの基礎）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">RSpec（モデルスペック）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">RSpec（リクエストスペック）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">データをグラフ化してみよう！（Rails 6）</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">ActionCableを使用したチャットアプリ</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
            <div class="card col-lg-4 col-md-6">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <p class="card-text">【作ってみよう！】体重管理アプリの実装</p>
                <p class="card-text">【Ruby on Rails】</p>
              </div>
            </div>
          </div>
        </div>
        <%= yield %>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
